.download-view h6 {
  margin-bottom: 2rem !important;
  margin-top: 0 !important;
}

.button-container {
  margin: 2rem 0;
}

.button {
  display: inline-block;
  align-items: center;
  border-radius: 999rem;
  padding: 0.8rem 1.125rem;
  margin-bottom: 0.5rem;
  line-height: 1.1875;
  text-decoration: none;
  font-size: var(--sl-text-sm);
  background: var(--sl-color-text-accent);
  color: var(--sl-color-black) !important;
  margin-right: 1rem;
  cursor: pointer;
}

.markdown-body h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}
